@import "../../../data/styles.css";

.works-body {
	margin-bottom: 10px;
}

.work {
	display: flex;
	align-items: flex-start;
	padding-bottom: 25px;
	width: 100%;
	position: relative;
	margin-bottom: 15px;
	border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}

.work:last-child {
	padding-bottom: 0;
	margin-bottom: 0;
	border-bottom: none;
}

.work-image {
	height: 40px;
	width: 40px;
	border-radius: 50%;
	object-fit: cover;
	box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
	flex-shrink: 0;
}

.work-details {
	display: flex;
	flex-direction: column;
	padding-left: 15px;
	width: 100%;
}

.work-title {
	font-size: 16px;
	font-weight: 700;
	color: var(--primary-color);
	margin-bottom: 4px;
}

.work-subtitle {
	font-size: 14px;
	color: var(--secondary-color);
	margin-bottom: 4px;
}

.work-duration {
	font-size: 13px;
	color: var(--tertiary-color);
	font-weight: 500;
}